<!DOCTYPE html> <html> <head>
  <meta charset="utf-8">
  <title>{% block title %}VideoFront LTI{% endblock %}</title> 
<style>
#playlist {
    display:table;
}
#playlist li{
    cursor:pointer;
    padding:8px;
}

#playlist li:hover{
    color:blue;                        
}
#videoarea {
    float:left;
    width:640px;
    height:480px;
    margin:10px;    
    border:1px solid silver;
}
</style>
</head> <body>
  <header>
    <h1>VideoFront LTI</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}">login</a>
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
  <footer>
  </footer> 
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    $("#playlist li").on("click", function() {
        $("#videoarea").attr({
            "src": $(this).attr("movieurl")
        })

    })
    $("#videoarea").attr({
        "src": $("#playlist li").eq(1).attr("movieurl"),
        "poster": $("#playlist li").eq(1).attr("moviesposter")
    })
})
</script></html>
